<section id="landing">
  <div id="particles-js"></div>
  <div class="centered_wrapper cd-intro" [@landed]="state">
    <h4 id="small_intro"  >Hi, I'm Hugh</h4>
    <h1 id="large_intro" class="cd-headline letters type">
      <span>I Design&nbsp;</span>
      <span class="cd-words-wrapper">
        <b class="is-visible">&amp; Build Websites</b>
        <b class="is-hidden">Automation Systems</b>
        <b class="is-hidden">Targeted Marketing Campaigns</b>
        <b class="is-hidden">Logos &amp; Graphics</b>
      </span>
    </h1>
    <!--<p class="job_title" id="tester" (click)="trigger()">Web Master &nbsp;| &nbsp;Automation Engineer &nbsp;|&nbsp; Marketing Guru</p>-->
  </div>
</section>
