#landing{
  height: 100vh;
  width: 100%;
  z-index: 4;
  display: table;
  position: relative;
  background-color: #f6f6f6;
}
.centered_wrapper{
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.job_title{
  padding-top: 24px;
  letter-spacing: 3px;
}
#small_intro,#large_intro{
  text-align: center;
  font-weight: 300;
}


#large_intro{
  font-size: 3em;
  letter-spacing: 2px;
}

#particles-js{
  position: absolute;
  left: 0px;
  top:0px;
  z-index: 99;
  height: 100%;
  width:100%;
}

#small_intro{
  letter-spacing: 1px;
}

.cd-headline.type {

	.cd-words-wrapper {
		vertical-align: top;
		overflow: hidden;

		&::after {
			/* vertical bar */
			content: '';
			position: absolute;
			right: 0;
			height: 90%;
			width: 1px;
		}


		&.selected {

			&::after {
				visibility: hidden;
			}

			b {
			}
		}
	}

	b {
		visibility: hidden;

		&.is-visible {
			visibility: visible;
		}
	}

	i {
		position: absolute;
		visibility: hidden;

		&.in {
			position: relative;
			visibility: visible;
		}
	}
}


@media only screen and (max-width: 900px) {
  .centered_wrapper > *{
    padding: 8px 0px 8px 0px;
  }
  #large_intro{
    font-size:1.6em;
  }
  .cd-words-wrapper >span > b{
    color:white;
    display: block;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #2a2a2a;
  }
}
