<section id="about" #about class="row" [@leaveEnter] = "leaveEnter ? true : false">
  <div class="col-lg-6 col-sm-12"><h3 class="heading">About Me</h3>
  <p>I’m Hugh and I like to solve problems. I graduated November 2019 with a BSC in Web Development from Munster Technological University. From there I started my journey as a freelancer, offering Digital Services to SME’s & startups.
<br/>
With over 5 years in the field of IT/Marketing I have worked closely with businesses, understanding their needs. I was introduced to a host of opportunities to learn and develop my skills in a wide array of areas from automation to design.
<br/>
During that time, I have also been brought on as a consultant Development Lead & Project Manager for Digital Agencies where I gained a much more hands-on experience on every facet of the commercial development process.
<br/>
I help businesses manage all things on the Digital enviroment. I’m passionate about what I do, which is taking your business to the next level. My ethos resolves around streamlining your business, building your web presence & increasing conversions.
</p></div>
  <div class="col-lg-6 col-sm-12">
    <img src="../../assets/sideprofile.png" id="face" alt="Side Profile of Hugh">
  </div>

</section>
