<section id="about" #about class="row" [@leaveEnter] = "leaveEnter ? true : false">
  <div class="col-6"><h3 class="heading">About Me</h3>
  <p>I graduated November 2019 with a BSC in Web Development in Cork Institute of Technology and started my business offering my Digital Services. I have been working in the field of IT for over 3 years.
  Initially I began working with a small e-commerce business managing their online inventory &amp; content creation as well as their website.
  Due to my drive and ability to quickly pick up new skills, I was put in charge of building advertising & SEO campaigns in order to grow our audience.
  I now use that same passion when approaching any new client I work with.
  Designing Automation Systems is my new obsession, making sure you don’t waste precious time on something that can be automated.
  I help businesses manage all things on the tech side. I’m passionate about what I do, which is taking your business to the next level. My process is based around your web presence, your brand and how to build your reach when it comes to your customers.
</p></div>
  <div class="col-6">
    <img src="../../assets/sideprofile.png" id="face" alt="Side Profile of Hugh">
  </div>

</section>
