<section id="services" #secttop [@leaveEnter] = "leaveEnter ? true : false">
  <h3 class="heading right">How Can I Help?</h3>
  <div class="service_container row">
    <div class="service_wrapper col-sm-12 col-lg-6 " *ngFor="let service of services; let even = even">
      <div class="service_info">
        <div class="service_img ri" [style.backgroundImage]="'url(../../assets/'+service.img+')'"></div>
        <h2 class="service_heading">{{service.title}}</h2>
        <h3 class="service_tagline">{{service.tagline}}</h3>
        <p class="service_description">{{service.description}}</p>
      </div>
    </div>
  </div>

  <!--  <div class="service_brands">
    <div class="row service_brands_container">
      <div class="service_brands_wrapper col-sm-4 col-lg-3 " *ngFor = "let brand of brands; let even = even">
        <div class="service_brands_info">
          <div class="service_brands_img ri" [style.backgroundImage]="'url(../../assets/'+brand.img+')'"></div>
          <h4 class="service_brands_heading">{{brand.title}}</h4>
        </div>
      </div>
    </div>
  </div>-->


  <div class="service_expanded row container" #service>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12  align-middle service_desc">
      <h3>Build Your Online Presence</h3>
      <p>Whether you are taking your first steps online or looking to bolster your presence, we can help with getting you found online. Through clean User-Orientated design to SEO (Search engine optomisation) to targeted marketing, we can connect
        your product/service to the most appropriate audience. Your Online Presence is a representation of your business reputation and should be carefully managed to ensure you are getting the most out of your website, marketing campaigns and social
        media.</p>
    </div>
    <div class="mobile_img col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 order-first align-middle service_image" id="service_img"  ></div>
    <button class="d-block d-md-none " (click)="toggleDisplay(web_brands)">View Tools Used</button>
    <div class="brand col-12 row order-last d-none d-md-flex" id="web_brands">
      <div class="col-4 col-lg-2 brand_wrapper"  *ngFor="let brand of Webbrands;" >
        <div class="brand_img" [style.backgroundImage]="'url(../../assets/ServiceBrandImgs/'+brand.img+')'"></div>
        <p class="center brand_title">{{brand.title}}</p>
        <span class="tooltip">{{brand.tag}}</span>
      </div>
    </div>
  </div>

  <div class="service_expanded_alt row ">
    <div class="mobile_img  col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 order-first align-middle service_image" id="automation_img"></div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 align-middle service_desc alt">
      <h3>Save Time & Resources By Automating your Business Processes</h3>
      <p>Business Process Automation is an emerging strategy for managing your business tasks. Through the use of connected apps and software, you can save time & resources as well as remove any human error. We have built Automation Systems such as:
        Stock Ordering & Managment, Invoicing, Employee Planner, Delivery Planner. Get in touch today to find out how you can streamline your business. </p>
    </div>
    <button class="d-block d-md-none " (click)="toggleDisplay(auto_brands)">View Tools Used</button>
    <div class="brand col-12 row order-last d-none d-md-flex" id="auto_brands" >
      <div class="col-4 col-lg-2 brand_wrapper"  *ngFor="let brand of Automationbrands;">
        <div class="brand_img" [style.backgroundImage]="'url(../../assets/ServiceBrandImgs/'+brand.img+')'"></div>
        <p class="center brand_title">{{brand.title}}</p>
        <span class="tooltip">{{brand.tag}}</span>
      </div>
    </div>

  </div>

  <div class="service_expanded row container">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12  align-middle service_desc">
      <h3>Expand your Market, Grow Organically on Search Engines &amp; Advertise Online</h3>
      <p>We analyse and break-down your sales/marketing data to find where improvements can be made. Using search engine and social media analytics, monitor the growth in the market and target new audiences/areas. Find the most optimal time to engage
        with your audience and what cntent would appeal to the audience and search engines alike.</p>
    </div>
    <div class="mobile_img col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 order-first align-middle service_image" id="analytics_img"></div>
    <button class="d-block d-md-none " (click)="toggleDisplay(mark_brands)">View Tools Used</button>
    <div class="brand col-12 row order-last d-none d-md-flex" id="mark_brands" >
      <div class="col-4 col-lg-2 brand_wrapper " *ngFor="let brand of Markbrands; let lastItem = last;">
        <div class="brand_img" [style.backgroundImage]="'url(../../assets/ServiceBrandImgs/'+brand.img+')'"></div>
        <p class="center brand_title">{{brand.title}}</p>
        <span class="tooltip">{{brand.tag}}</span>
      </div>
    </div>
  </div>

  <div class="service_expanded_alt row ">
    <div class="mobile_img  col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12  order-first align-middle service_image" id="brand_img"></div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 align-middle service_desc alt">
      <h3>Track Leads & Revenue, Monitor Your ROAS &amp; Get Weekly/ Daily Reports</h3>
      <p>Business Process Automation is an emerging strategy for managing your business tasks. Through the use of connected apps and software, you can save time & resources as well as remove any human error. We have built Automation Systems such
        as: Stock Ordering & Managment, Invoicing, Employee Planner, Delivery Planner. Get in touch today to find out how you can streamline your business. </p>
    </div>
    <button class="d-block d-md-none" (click)="toggleDisplay(analytics_brands)">View Tools Used</button>
    <div class="brand col-12 row order-last d-none d-md-flex" id="analytics_brands" >
      <div class="col-4 col-lg-2 brand_wrapper" *ngFor="let brand of Analyticsbrands;">
        <div class="brand_img" [style.backgroundImage]="'url(../../assets/ServiceBrandImgs/'+brand.img+')'"></div>
        <p class="center brand_title">{{brand.title}}</p>
        <span class="tooltip">{{brand.tag}}</span>
      </div>
    </div>
  </div>
</section>
